body { font-family: sans-serif; }
.output, input {
    font-size: 10pt;
    position: absolute;
    height: 1.2em;
    width: 50pt;
    height: 16pt;
    overflow: hidden;
    padding-left: 4pt;
}
input { border: none;}
.output {
    background: white;
    pointer-events: none;
    padding-top: 2pt;
    height: 14pt;
}
input:focus + .output { display: none; }

table { border-collapse: collapse; }
td > div {
    width: 55pt;
    height: 16pt;
}
td { border: 1px solid #EEE; }
.column-label  > td, .row-label {
    text-align: center;
    background: #EEE;
}
.row-label { width: 2em; }