<html>
<head>
    <title>Google Docs</title>
    <link rel="stylesheet" media="screen" href="/webjars/handsontable/0.31.1/dist/handsontable.full.css" type="text/css">
    <script src="/webjars/jquery/3.2.0/jquery.min.js" type="application/javascript"></script>
    <script src="/webjars/handsontable/0.31.1/dist/handsontable.full.js" type="application/javascript"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js" type="application/javascript"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js" type="application/javascript"></script>
    <script src="/js/websocket.js?ver=1" type="application/javascript"></script>
</head>
<body onload="connect()" onunload="disconnect()">
</head>
<h1>협업 도구</h1>
<h3>동시에 다수의 사용자가 하나의 엑셀파일을 만들 수 있다</h3>
<div id="example"></div>

<script src="/js/excel.js?ver=1" type="application/javascript"></script>
</body>
</html>