<!DOCTYPE html>
<html>
<head>
    <title>Google Docs</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/angularjs/1.5.9/angular.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/websocket.js"></script>
</head>
<body onload="connect()" onunload="disconnect()">
<h1>협업 도구</h1>
<h3>동시에 다수의 사용자가 하나의 엑셀파일을 만들 수 있다</h3>
<div ng-app="myApp" ng-controller="sheet">
    <table>
        <tr class="column-label">
            <td></td>
            <td ng-repeat="column in columns track by $index">{{column}}</td>
        </tr>
        <tr ng-repeat="row in rows track by $index">
            <td class="row-label">{{row}}</td>
            <td ng-repeat="column in columns track by $index">
                <div>
                    <input ng-model="cells[column+row]" ng-change="compute(column+row)"/>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>